body {
	margin: 0;
	justify-content: center;
	align-items: center;
	background-image: url(../uploads/bg.jpg);
	background-size: cover;
}
.form-container {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn-primary {
	background-color: #0f5c5f;
}
.our-movies{
	padding: 40px 5px 0px 15px;
	color:white;
	text-align: center;
}
.footer{
	width: 100%;
	height: 100px;
	text-align:center;
	background-color: white;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.footer .logo{
	display: flex;
	align-items: center;
}
.footer .logo h2{
	margin-left: 10px;
}
.footer .contact{
	font-size: larger;
	font-weight: bold;
}
.center-content{
	margin: 100px auto;
	display: flex;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 50px;
	width: fit-content;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.center-content a{
	background-color: #0f5c5f;
	color: white;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	transition: 0.5s;
	margin-top: 10px;
}
.center-content a:hover{
	background-color: #062425;
}
b{
	font-size: larger;
}
span{
	background-color: white;
	color: black;
	padding: 5px;
	margin-bottom: 5px;
}
line{
	padding-bottom: 10px;
}
.container{
	min-height: auto !important;
}