<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" type="image/png" href="../static/uploads/logo.jpg">
    <title>Document</title>
</head>
<body>
    <div class="center-content">
        <h1>NOT LOGGED YET !</h1>
        <a href="{{url_for('login')}}"> GO TO LOGIN PAGE</a>
    </div>
    <footer class="footer rounded-top-5 fixed-bottom container">
        <div class="logo">
            <img src="../static/uploads/logo.jpg" alt="LOGO" width="60" height="60">
            <h2>Cinemaster</h2>
        </div>
        <div class="contact">
            Developed By : <br>
            Esraa Mahmoud 
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/close-all-alerts.js') }}"></script>
</body>
</html>